[project]
	description = Projekt zespolowy poruszaj?cy zagadnienie indoor localization na kampusie Politechniki Wroc?awskiej
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Tieto
	owner = group user/Mirek Karpiewski (Kirem)
[access "refs/for/refs/*"]
	read = group Tieto
	read = group user/Mirek Karpiewski (Kirem)
	push = group user/Mirek Karpiewski (Kirem)
	label-Code-Review = -2..+2 group Tieto
	label-Code-Review = -2..+2 group user/Mirek Karpiewski (Kirem)
	label-Verified = -1..+1 group Tieto
	label-Verified = -1..+1 group user/Mirek Karpiewski (Kirem)
	rebase = group Tieto
	rebase = group user/Mirek Karpiewski (Kirem)
	removeReviewer = group Tieto
	removeReviewer = group user/Mirek Karpiewski (Kirem)
	submit = group user/Mirek Karpiewski (Kirem)
[access "refs/heads/*"]
	read = group Tieto
	read = group user/Mirek Karpiewski (Kirem)
	create = group Tieto
	create = group user/Mirek Karpiewski (Kirem)
	push = +force group user/Mirek Karpiewski (Kirem)
	pushMerge = group Tieto
	pushMerge = group user/Mirek Karpiewski (Kirem)
[access "refs/tags/*"]
	push = group Tieto
	push = +force group user/Mirek Karpiewski (Kirem)
	pushTag = group Tieto
	pushTag = group user/Mirek Karpiewski (Kirem)
	pushSignedTag = group Tieto
	pushSignedTag = group user/Mirek Karpiewski (Kirem)
